/* Page wrapper */
.about-container {
  min-height: 800vh;
  background: linear-gradient(to right, #f8fafc, #e2e8f0);
   /* space for navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.about-card {
    margin: 10%;
  background: white;
  padding: 40px;
  width: 600px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
   display: flex;
  flex-direction: column;
}

/* Heading */
.about-card h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #1f2937;
}

/* Paragraph */
.about-card p {
  font-size: 16px;
  color: #4b5563;
  line-height: 1.6;
}

